<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/auth">
                    <add key="/auth" value="/auth.php" />
                </rewriteMap>
                <rewriteMap name="/ingame/start">
                    <add key="/ingame/start" value="/ingame/start.php" />
                </rewriteMap>
                <rewriteMap name="/ingame/gallery">
                    <add key="/ingame/gallery" value="/ingame/gallery.php" />
                </rewriteMap>
                <rewriteMap name="/ingame/upload">
                    <add key="/ingame/upload" value="/ingame/upload.php" />
                </rewriteMap>
                <rewriteMap name="/available/[anything]">
                    <add key="/available/[anything]" value="/available/anything.php" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Auth">
                    <match url=".*" />
                    <conditions>
                        <add input="{/auth:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Start">
                    <match url=".*" />
                    <conditions>
                        <add input="{/ingame/start:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Gallery">
                    <match url=".*" />
                    <conditions>
                        <add input="{/ingame/gallery:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Upload">
                    <match url=".*" />
                    <conditions>
                        <add input="{/ingame/upload:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="DLC Ready">
                    <match url=".*" />
                    <conditions>
                        <add input="{/available/[anything]:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
